@value gridUnit from 'ui/theme.css';

@value minimumLength: calc(10 * gridUnit);

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: minimumLength;
  height: minimumLength;
}

.sm {
  min-width: calc(0.9 * minimumLength);
  height: calc(0.9 * minimumLength);
}

.lg {
  min-width: calc(1.25 * minimumLength);
  height: calc(1.25 * minimumLength);
}

.roundButton {
  border-radius: 100%;
}

