@value gridUnit, basePadding from 'ui/theme.css';

@value lightColor, darkColor from 'ui/theme.css';

@value sidebarWidth: calc(75 * gridUnit);

.sidebar {
  height: 100%;
  background: lightColor;
  transition: width 0.2s ease-in-out;
}

.wrapper {
  padding: basePadding;
}

.sidebarOpen {
  width: sidebarWidth;
  flex: sidebarWidth 0 0;
}

.sidebarClosed {
  width: 0;
  min-width: 0;
  flex: 0 0 0;
  overflow: hidden;
  visibility: hidden;
}
