@value marginUnit from 'ui/theme.css';

.container {
  position: relative;
  margin: 0 0 marginUnit;
}

.buttonWrapper {
  margin: 0 0 0 calc(marginUnit / 2);
}

.codeInput {
  width: 50px !important;
  flex: 50px 0 0 !important;
}
