/* Built ontop of bootstrap */
html, body {
	font-family: 'Lateef', 'Open Sans', sans-serif;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  flex: 250px 0 0;
  background: var(--light);
  border-right: 1px solid var(--dark);
}

.main {
  flex: 1;
  overflow-y: auto;
}

.row {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
}

@media (min-width: 542px) {
  .col-sidebar {
    width: 100%;
  }
}

@media (min-width: 692px) {
  .col-sidebar {
    max-width: 250px;
  }
}
